
.breadcrumbs {
  display: none;
}

@include respond-to(medium) {
  
  .breadcrumbs {
    display: flex;
    align-items: center;
    height: 47px;
    color: #fff;
    font-size: 15px;
    
    a {
      color: #fff;
      margin-right: 30px;
      position: relative;
      
      &:after {
        content: "";
        position: absolute;
        top: 2px;
        right: -18px;
        width: 6.5px;
        height: 12px;
        background-size: 6.5px 12px;
        background: url(../img/icons/icon-arrow-white-right.svg) no-repeat;
      }
    }
    
    .current-page {
      font-weight: 700;
    }
  }
}

