<div class="main-header-wrapper">
  <div class="container">
    <header id="main-header">
      <!-- logo -->
      <a href="./dashboard_admin.html" class="logo">
        <img src="./img/logo-header.png" alt="logo"/>
      </a>

      <!-- nav toggle icon -->
      <a href="javascript:;" class="icons icon-toggle-sidebar js-toggle-sidebar"></a>
      <h3 class="active-page-title">Dashboard</h3>

      <!-- primary nav -->
      <nav class="primary-nav">
        <ul>
          <li><a href="./dashboard_admin.html" class="link-page-admin-dashboard ">Admin Dashboard</a></li>
          <li><a href="./admin_provider.html" class="link-page-admin-provider">Provider Side</a></li>
          <li><a href="./admin_user.html" class="link-page-admin-user">User Side</a></li>
          <li><a href="./admin_news.html" class="link-page-admin-news">Tech News</a></li>
          <li><a href="./admin_resource.html" class="link-page-admin-resource">Resources</a></li>
          <li><a href="./admin_setting.html" class="link-page-admin-setting">Setting</a></li>
        </ul>
      </nav>


      <!-- user info -->
      <div class="logged-in-user-info">
        <p class="user-name-wrapper">
          <span class="greeting">Welcome,</span>
          <span id="user-name">Admin</span>
        </p>
      </div>

      <a href="javascript:;" class="btn-logout"><span class="icons icon-logout"></span></a>
    </header>
  </div>
</div>
