<!-- mobile sidebar menu -->
<aside class="nav-side-panel">
  <div class="logo-wrapper">
    <a href="./dashboard_provider.html" class="logo">
      <img src="./img/logo-header.png" alt="logo">
    </a>
  </div>
  <div class="logged-in-user-info">
    <span class="greeting">Welcome,</span>
    <a href="javascript:;" class="user-name">Admin</a>
  </div>
  <nav class="primary-nav">
    <ul>
      <li>
        <a href="./dashboard_admin.html" class="link-page-admin-dashboard">Dashboard</a>
      </li>
      <li><a href="./admin_provider.html" class="link-page-admin-provider">Provider</a></li>
      <li><a href="./admin_user.html" class="link-page-admin-user">User</a></li>
      <li><a href="./admin_news.html" class="link-page-admin-news">Tech News</a></li>
      <li><a href="./admin_resource.html" class="link-page-admin-resource">Resource</a></li>
      <li><a href="./admin_setting.html" class="link-page-admin-setting">Setting</a></li>
      <li><a href="./home.html">Logout</a></li>
    </ul>
  </nav>
</aside>
