<div class="main-content-wrapper">
  <div class="container">
    <div class="content-details-wrapper">
      <span class="reading-time">N/A</span>
      <h4 class="content-title">N/A</h4>
      <div class="other-details">
        <div class="category-details">
          <span class="icons icon-category"></span>
          <span>Category :</span>
          <a href="javascript:;" class="category-name">Network Technology</a>
        </div>
        <div class="date-views-wrapper">
          <div class="views">
            <span class="icons icon-views"></span>
            <span class="viewTimes">N/A</span>
          </div>
          <div class="date">
            <span class="icons icon-calendar"></span>
            <span class="published-time">N/A</span>
          </div>
        </div>
      </div>
      <div class="content-banner-image"></div>
      <div class="buttons-row">
        <a href="javascript:;" class="btn btn-email">Email</a>
        <a href="javascript:;" class="btn btn-subscribe">Subscribe</a>
        <a href="javascript:;" class="btn btn-edit">Edit</a>
        <a href="javascript:;" class="btn btn-publish">Publish</a>
        <a href="javascript:;" class="btn btn-primary btn-save-to-vault">
          <span class="icons icon-save-to-vault"></span><span class="btn-save-txt">Save this to my Vault</span>
        </a>
      </div>
      <div class="content-description-wrapper">
        <div class="section-1">
          <div class="provider-details-box">
            <div class="provider-logo">
              <img id="provider-logo" src="./img/provider-logo-default.png" alt="logo"/>
            </div>
            <div class="provider-details">
              <a href="#" class="provider-name">N/A</a>
              <div class="categories-list">
                <span class="label">Categories :</span><span class="categories provider-categories">N/A</span>
              </div>
              <p class="about-provider">
                <span class="label">About Us :</span>
                <span class="txt about-provider-txt">N/A</span>
              </p>
            </div>

            <a href="javascript:;" class="btn btn-primary btn-add-favorites" id="btn-add-favorites">
              <span class="icons icon-favorite"></span><span class="add-favorites-txt">Add Provider to Favorites</span>
            </a>

            <a href="javascript:;" class="btn btn-primary btn-add-favorites" id="btn-request-info">
              <span>Request Information</span>
            </a>

          </div>
          <div class="content-description">
            <h4>Content Description :</h4>
            <p class="txt post-content">
            </p>
          </div>
        </div>

        <div class="section-2">
        </div>

        <div class="section-3">
        </div>
      </div>
    </div>
  </div>

  <!-- related content -->
  <div class="related-content-wrapper">
    <h4 class="related-content-heading">Related Content</h4>
    <ul class="content-feed-list">
    </ul>
  </div>
</div>
</div>
