<!-- main footer -->
<footer id="main-footer">
  <div class="footer-top-wrapper">
    <div class="footer-top">
      <a href="./home.html" class="logo">
        <img src="./img/logo-footer.png" alt="logo"/>
      </a>
      <div class="social-links">
        <a href="javascript:;" class="facebook"></a>
        <a href="javascript:;" class="google-plus"></a>
        <a href="javascript:;" class="twitter"></a>
        <a href="javascript:;" class="linked-in"></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom-wrapper">
    <div class="footer-bottom">
      <p class="contact-info">
        <a href="javascript:;">Teckedin.com</a>
        <span class="sep">|</span>New York, USA 900038<span class="sep">|</span>
        <a href="javascript:;">(888) 290-1283</a>
      </p>
      <p class="copyright-text">
        Copyright <span class="copyright-symbol">&COPY;</span>2017, All Rights Reserved.
        <a class="links" href="privacy_policy.html"> Privacy Policy</a> · <a class="links" href="provider_term_of_use.html">Provider Terms</a> · <a class="links" href="user_terms_of_use.html">User Terms</a>
      </p>
    </div>
  </div>
</footer>
