<div class="main-header-wrapper">
  <div class="container">
    <header id="main-header">
      <!-- logo -->
      <a href="./dashboard_provider.html" class="logo">
        <img src="./img/logo-header.png" alt="logo"/>
      </a>

      <!-- nav toggle icon -->
      <a href="javascript:;" class="icons icon-toggle-sidebar js-toggle-sidebar"></a>
      <h3 class="active-page-title">Dashboard</h3>

      <!-- primary nav -->
      <nav class="primary-nav">
        <ul>
          <li><a href="./dashboard_provider.html" class="link-page-dashboard-provider link-page-create-content">Dashboard</a></li>
          <li><a href="./tech-provider-details_provider.html" class="link-page-tech-provider-details">Company
            Profile</a></li>
          <li><a href="./provider_news.html" class="link-page-provider-news">Tech News</a></li>
          <li><a href="./provider_resource.html" class="link-page-provider-resource">Resources</a></li>
          <li><a href="./faq-help_provider.html" class="link-page-faq-help-provider">FAQ/Help</a></li>
        </ul>
      </nav>

      <!-- search icon -->
      <a href="javascript:;" class="icons icon-search" data-modal-trigger="#modal-search-box"></a>

      <!-- notifications -->
      <div class="notifications-wrapper" data-popup="notification">
        <a href="javascript:;" class="btn-notification" data-popup-trigger>
          <span class="icons icon-notification"></span>
          <span class="number align-item-center">0</span>
        </a>
        <div class="notification-popup popup-box" data-popup-content>
          <div class="popup-head">
            <h3>Notifications</h3>
            <a href="javascript:;" class="icons icon-close-grey-2" data-close-popup></a>
          </div>
          <div class="popup-body">
            <ul class="notifications-list">
            </ul>
          </div>
          <div class="buttons-row">
            <a href="javascript:;" class="btn btn-primary btn-clear"><span>Clear All</span></a>
          </div>
        </div>
      </div>

      <!-- add content button -->
      <a href="./create-content.html" class="btn btn-primary btn-add-content"><span class="add-sign">+</span><span>Add Content</span></a>

      <!-- user info -->
      <div class="logged-in-user-info">
        <p class="user-name-wrapper">
          <span class="greeting">Welcome,</span>
          <span id="user-name">N/A</span>
        </p>
      </div>

      <a href="javascript:;" class="btn-logout"><span class="icons icon-logout"></span></a>
    </header>
  </div>
</div>
