<!-- mobile sidebar menu -->
<aside class="nav-side-panel">
  <div class="logo-wrapper">
    <a href="./dashboard_provider.html" class="logo">
      <img src="./img/logo-header.png" alt="logo">
    </a>
  </div>
  <div class="logged-in-user-info">
    <span class="greeting">Welcome,</span>
    <a href="javascript:;" class="user-name" id="user-name-aside">Acme Tech Provider</a>
  </div>
  <nav class="primary-nav">
    <ul>
      <li><a href="./dashboard_provider.html" class="link-page-dashboard-provider">Dashboard</a></li>
      <li><a href="./tech-provider-details_provider.html" class="link-page-tech-provider-details">Company Profile</a></li>
      <li><a href="./provider_news.html" class="link-page-provider-news">Tech News</a></li>
      <li><a href="./provider_resource.html" class="link-page-provider-resource">Resources</a></li>
      <li><a href="./faq-help_provider.html" class="link-page-faq-help-provider">FAQ/Help</a></li>
      <li><a href="./create-content.html">Add Content</a></li>
      <li><a href="./home.html">Logout</a></li>
    </ul>
  </nav>
</aside>
