<script src="js/lib/jquery.timeago.js" type="text/javascript"></script>
<!-- main header -->
<div class="main-header-wrapper">
  <div class="container">
    <header id="main-header">
      <!-- logo -->
      <a href="./dashboard_user.html" class="logo">
        <img src="./img/logo-header.png" alt="logo"/>
      </a>

      <!-- nav toggle icon -->
      <a href="javascript:;" class="icons icon-toggle-sidebar js-toggle-sidebar"></a>
      <h3 class="active-page-title">Dashboard</h3>

      <!-- primary nav -->
      <nav class="primary-nav">
        <ul>
          <li><a href="./dashboard_user.html" class="link-page-dashboard-user">Dashboard</a></li>
          <li class="nav-menu-container"><a href="./all-content.html"
                 class="link-page-all-content link-page-content-details-user link-page-tech-provider-details">All Content</a>
            <div class="nav-menu">
            </div>
          </li>
          <li><a href="./personal-vault.html" class="link-page-personal-vault">Personal Vault</a></li>
          <li><a href="./user_news.html" class="link-page-user-news">News</a></li>
          <li class="nav-menu-container lessons-learned-list"><a href="./all-content.html?lessonsLearned=true"
            class="link-page-lessons-learned link-page-content-details-user link-page-tech-provider-details">Lessons Learned</a>
            <div class="nav-menu">
            </div>
          </li>
          <li><a href="./faq-help_user.html" class="link-page-faq-help-user">FAQ/Help</a></li>
        </ul>
      </nav>

      <!-- search icon -->
      <a href="javascript:;" class="icons icon-search tooltip" data-modal-trigger="#modal-search-box">
        <span class="tooltiptext">quickly search by a word or phrase</span>
      </a>

      <a href="javascript:;" class="icons icon-question-help tooltip">
        <span class="tooltiptext">What research can we help you with?</span>
      </a>

      <!-- notifications -->
      <div class="notifications-wrapper" data-popup="notification">
        <a href="javascript:;" class="btn-notification" data-popup-trigger>
          <span class="icons icon-notification"></span>
          <span class="number align-item-center notification-number">0</span>
        </a>
        <div class="notification-popup popup-box" data-popup-content>
          <div class="popup-head">
            <h3>Notifications</h3>
            <a href="javascript:;" class="icons icon-close-grey-2" data-close-popup></a>
          </div>
          <div class="popup-body">
            <ul class="notifications-list">
            </ul>
          </div>
          <div class="buttons-row">
            <a href="javascript:;" class="btn btn-primary btn-clear"><span>Clear All</span></a>
          </div>
        </div>
      </div>


      <!-- user info -->
      <div class="logged-in-user-info">
        <a href="javascript:;" class="user-thumbnail">
          <img src="./img/user-thumb.jpg" alt="user"/>
        </a>
        <p class="user-name-wrapper">
          <span class="greeting">Welcome,</span>
          <a href="javascript:;" class="user-name">N/A</a>
        </p>
      </div>

      <a href="javascript:;" class="btn-logout"><span class="icons icon-logout"></span></a>
    </header>
  </div>
</div>
