<!-- mobile sidebar menu -->
<aside class="nav-side-panel">
  <div class="logo-wrapper">
    <a href="./dashboard_user.html" class="logo">
      <img src="./img/logo-header.png" alt="logo">
    </a>
  </div>
  <div class="logged-in-user-info">
    <span class="greeting">Welcome,</span>
    <a href="javascript:;" class="user-name">N/A</a>
  </div>
  <nav class="primary-nav">
    <ul>
      <li><a href="./dashboard_user.html" class="link-page-dashboard-user">Dashboard</a></li>
      <li><a href="./all-content.html" class="link-page-all-content">All Content</a></li>
      <li><a href="./personal-vault.html" class="link-page-personal-vault">Personal Vault</a></li>
      <li><a href="./faq-help_user.html" class="link-page-faq-help-user">FAQ/Help</a></li>
      <li><a href="./user_news.html" class="link-page-user-news">Tech News</a></li>
      <li><a href="./user_resource.html" class="link-page-user-resource">Resources</a></li>
      <li><a href="./home.html">Logout</a></li>
    </ul>
  </nav>
</aside>
