<div id="modal-help-dialog" class="modal-save-to-vault" data-modal="is-closed">
  <div class="modal">
    <div class="modal-content">
      <div class="modal-head">
        <h3>What research can we help you with ?</h3>
        <a href="javascript:;" class="btn btn-modal-close" data-close-modal><span class="icons icon-close-white"></span></a>
      </div>
      <div class="modal-body">
        <div class="user-input">

          <div class="input-wrapper input-time-to-keep">
            <p class="label">Research Subject :</p>
            <input name="title" placeholder="Research Subject"/>
          </div>

          <div class="input-wrapper input-keywords">
            <p class="label">Description of research/content you are looking for :</p>
            <textarea name="content" placeholder="Description of research/content you are looking for"></textarea>
          </div>

        </div>
        <div class="buttons-row">
          <a href="javascript:;" class="btn btn-primary btn-sure-help-request">
            <span>Request</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
